.DS_Store
_data/
_freeze/
notebooks/
!docs/notebooks/
scripts/
experimental-outputs/
from-quantarctica/
GPS-1516Season-MiersValley/
temp/
_temp/
_dev/
.Rproj.user
.RData
.Rhistory
*.Rproj
/.quarto/
*.zip
.vscode/settings.json
